@page "/"
@using System.Threading.Tasks
@using System.Text.Json;
@using MTO.RPDU.FilmBrowserWASM.HttpClients;
@using MTO.RPDU.FilmBrowserWASM.Models.FilmBrowser;
@using MTO.RPDU.FilmBrowserWASM.Models.Omdb;
@using System.Text;
@using MTO.RPDU.FilmBrowserWASM.Services;
@inject OmdbHttpClient client
@inject IStringLocalizer<Index> Loc

<PageTitle>@Loc["title"]</PageTitle>

<div class="container ontario-padding-top-16-!">

    @foreach (var film in films)
    {
        <div class="item-container ontario-margin-top-0-">
            <img src="@film.Poster" alt="@film.Title" />
            <div class="content ontario-margin-top-16-! ontario-margin-left-8-! ontario-margin-right-8-! "><strong>@film.Title</strong></div>
            <div class="content ontario-margin-left-8-! ontario-margin-right-8-! ">@film.Year</div>
            <div class="content ontario-margin-left-8-! ontario-margin-right-8-! ">@film.Genre</div>
            <div class="content ontario-margin-left-8-! ontario-margin-right-8-!">@film.Actors</div>
            <div class="plot ontario-margin-bottom-16-! ontario-margin-left-8-! ontario-margin-right-8-!"><cite>@film.Plot</cite></div>
        </div>
    }

    <button @onclick="ScrollToTop" id="actual-btt-button" class="ontario-back-to-top--default active">
        <svg class="ontario-icon" alt="" aria-hidden="true" focusable="false" sol:category="primary" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path d="M0 0h24v24H0V0z" fill="none" /><path d="m4 12 1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z" /></svg>
        @Loc["top"]
    </button>
</div>
