@page "/"
@using MTO.RPDU.FilmBrowserWASM.Clients;
@using System.Threading.Tasks
@using System.Text.Json;
@using MTO.RPDU.FilmBrowserWASM.Models.Omdb;
@using System.Text;
@inject OmdbHttpClient client

<PageTitle>All Things Movie and TV</PageTitle>

<div class="container">

    @foreach (var film in filmResults)
    {
        <div class="item-container">
            <img src="@film.Poster" alt="@film.Title" />
            <div class="content">@film.Title</div>
            <div class="content">@film.Year</div>
            <div class="content">@film.Actors</div>
            <div class="plot">@film.Plot</div>
        </div>
    }
</div>


@code {
    private List<FilmResult> filmResults;

    protected override async Task OnInitializedAsync()
    {
        if (filmResults == null) filmResults = new List<FilmResult>();

        var response = await client.SearchFilmsByTitle("lord");
        var films = new List<FilmResult>();
        var sb = new StringBuilder();

        foreach(var record in response.Search)
        {
            var film = await client.GetFilmById(record.imdbID!);
            filmResults.Add(film);
        }
    }
}